@import 'public/variables.scss';

.NavBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 56px;
    background-color: white;

    @media only screen and (max-width: $mobile-breakpoint) {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
}

.NavItem {
    display: flex;
    align-items: center;;
    padding: 0 $padding-medium;

    @media only screen and (max-width: $mobile-breakpoint) {
        flex: 1 1 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;

        a {
            width: 100%;
        }
    }

    a {
        padding-left: $padding-small;
        text-decoration: none;
        color: black;

        &.active {
            text-decoration: underline;
        }
    }
}